<!DOCTYPE html>
<html
    lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Spring app demo</title>
    <link rel="stylesheet" th:href="${@themeModes.code('variables')}"/>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
    <div class="main-content">
        <th:block layout:fragment="content"></th:block>
        <div class="page-links" layout:fragment="page-links">
            <a th:href="@{/}">Home page</a>
            <a th:href="@{/taco/design}">Design a taco</a>
        </div>
    </div>
</body>
</html>