<!DOCTYPE html>
<html
    lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{partial/base-template.html}"
>
<head>
    <title>No controller</title>
    <link rel="stylesheet" th:href="@{/css/no-controller.css}"/>
</head>
<body>
    <th:block layout:fragment="content">
        <h1>This is a page without class controller</h1>

        <img alt="No image..." th:src="@{/images/home-logo.jpg}"/>
    </th:block>
</body>
</html>