<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
>
    <head>
        <meta charset="UTF-8">
        <title>Spring app demo.</title>
        <link rel="stylesheet" th:href="@{/styles.css}"/>
    </head>
    <body>
        <h1>This is a page without class controller</h1>
        <img
                style="width: 200px; height: auto;"
                th:src="@{/images/home-logo.jpg}"
        />

        <a th:href="@{/}">Home page</a>&nbsp;|&nbsp;
        <a th:href="@{/design}">Design your taco</a>
    </body>
</html>