* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;

    height: 100%;
    width: 100%;

    background-color: var(--main-color-bg);
    color: var(--main-color-text);
}

.main-content {
    display: flex;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: 20px;

    height: 100%;
    width: 100%;

    padding-top: 25px;

    overflow: auto;
}

.main-content > .page-links {
    display: flex;

    flex-direction: row;

    gap: 15px;
}