* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;

    height: 100%;
    width: 100%;

    background: #1c1c1c;
    color: lightgray;
}

.main-content {
    display: flex;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: 20px;

    height: 100%;
    width: 100%;

    padding-top: 25px;

    overflow: hidden;
}